body {
    margin: 0;
    padding: 0;
}
 .free_title{
    font-size: 40px;
    text-align: center;
    padding: 40px;
    
}

.write_btn{
    height: 40px;
    width: 90px;
   
    background: #B9D8E0;
    border-radius: 5px;
    position: relative;
    float: right;
    border: 0;
    margin:20px;
    overflow: hidden;

    


}

.write_btn:hover{
    border-radius: 5px;
    background-color: #4C6D81;

}

*:not(.write_btn, .write_btn:hover){
    align-content: center;

}
